@font-face {
    font-family: "Cera Pro Regular";
    src: local("Cera Pro Regular"),
        local("CeraPro-Regular"),
        url(../fonts/CeraPro-Regular.woff2) format('woff2'),
         url(../fonts/CeraPro-Regular.woff) format('woff'),
         url(../fonts/CeraPro-Regular.ttf) format('TrueType'),
         url(../fonts/CeraPro-Regular.eot) format('eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Cera Pro Bold";
    src: local("Cera Pro Bold"),
        local("CeraPro-Bold"),
        url(../fonts/CeraPro-Bold.woff2) format('woff2'),
        url(../fonts/CeraPro-Bold.woff) format('woff'),
        url(../fonts/CeraPro-Bold.ttf) format('TrueType'),
        url(../fonts/CeraPro-Bold.eot) format('eot');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Sans Serif Regular";
    src: local("Sans Serif Regular"),
        local("SansSerif-Regular"),
        url(../fonts/4388-font.woff2) format('woff2'),
        url(../fonts/4388-font.woff) format('woff'),
        url(../fonts/4388-font.ttf) format('TrueType'),
         
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    padding: 171px 110px 8px 135px;
    display: flex;
    gap: 50px;
}
.leftSide {
    display: flex;
    flex-direction: column;
}
.categories {
    padding: 14px 18px;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 7px;
}
.categoriesList{
    padding: 0 170px 0 12px;
    margin-bottom: 360px;
}
.categoriesHeading{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}
.categoriesListItem{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}
.categoriesListItemActive{
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
}
.rightSide{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
}
.rsHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.tabsItem{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 106.667% */
    border-bottom: 2px solid transparent;
    padding-bottom: 7px;
}
.tabsItemActive{
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 106.667% */
    border-color: #46A358;
}
.sorting{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 106.667% */
}
.sorting>button{
    padding: 5px;
    background-color: transparent;
}
.rsMain{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 70px 35px;
}
.card{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 6px;
}
.imgContainer{
    padding: 25px 4px;
    background-color: #FBFBFB;
}
.cardName{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    margin-top: 6px;
}
.cardPrice{
    color: #46A358;
    font-family: "Cera Pro Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}
.rsFooter{
    margin-top: 60px;
}
.footerList{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}
.footerListItem>button{
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    padding: 10px 12px;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 88.889% */
    background-color: #FFFFFF;
}
.footerListItem>button.active{
    border-color: #46A358;
    background-color: #46A358;
    color: #FFFFFF;
}