@font-face {
    font-family: "Cera Pro";
    src: url(../fonts/CeraPro-Regular.woff2) format('woff2'),
         url(../fonts/CeraPro-Regular.woff) format('woff'),
         url(../fonts/CeraPro-Regular.ttf) format('TrueType'),
         url(../fonts/CeraPro-Regular.eot) format('eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Cera Pro Bold";
    src: url(../fonts/CeraPro-Bold.woff2) format('woff2'),
         url(../fonts/CeraPro-Bold.woff) format('woff'),
         url(../fonts/CeraPro-Bold.ttf) format('TrueType'),
         url(../fonts/CeraPro-Bold.eot) format('eot');
    font-weight: normal;
    font-style: normal;
}

.body {
    width: 500px;
    height: 656px;
}
.X {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    background: none
}
.nav-menu{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 80% */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 80% */
}
.text {
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}
.hero {
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    color: #A5A5A5;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
}
.button{
    width: 300px;
    height: 45px;
    top: 387px;
    left: 100px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */
    border-radius: 5px;
    background: #46A358;
}
.register_with {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}
.Google {
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    background-color: #FFF;
    font-family: "Cera Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */

}

.Facebook {
    color: #727272;
    text-align: center;
    font-family: "Cera Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 123.077% */
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    background-color: #F5F5F5;
}

.colorfoot {
    width: 500px;
    height: 10px;
    flex-shrink: 0;
    background-color: #46A358;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    padding: 30px 120px 52px;
    display: flex;
    flex-direction: column;
}
.header{
    display : flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}
.list{
    display: flex;
    gap: 50px;
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    color: #3D3D3D
}
.list-item{
    padding:8px 0 25px;
    border-bottom: 3px solid transparent;
    font-weight: 400;
    line-height: normal;
}
.active{
    font-weight: 700;
    border-color: #46A358;
}
.btn{
    border-radius: 6px;
    background-color: #46A358;
    color: #FFFFFF;
    padding: 7px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100px;
    height: 35px;
    flex-shrink: 0;
}
.main{
    display: flex;
    width: 1200px;
    height: 450px;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
}
.description{
    color: #727272;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    padding-top: 5px;
    padding-left: 43px;
}
.welcome-text{
    display: inline-flex;
    justify-content: start;
    align-items: center;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding-top: 68px;
    padding-left: 43px;

}
.btn-shop{
    border-radius: 6px;
    background-color: #46A358;
    color: #FFFFFF;
    padding: 9px 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 44px;
    margin-left: 41px;
    margin-bottom: 85px;
}
.main-conrainer{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}
.itemtxt{
    display: flex;
    flex-direction: column;
}
.itemimg{
    display: flex;
}
.lets{
    padding-left: 40px;
    padding-top: 7px;
}
.itemimg1{
    margin-left: 693px;
    
}
