@font-face {
    font-family: "Cera Pro Regular";
    src: local("Cera Pro Regular"),
        local("CeraPro-Regular"),
        url(../fonts/CeraPro-Regular.woff2) format('woff2'),
         url(../fonts/CeraPro-Regular.woff) format('woff'),
         url(../fonts/CeraPro-Regular.ttf) format('TrueType'),
         url(../fonts/CeraPro-Regular.eot) format('eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Cera Pro Bold";
    src: local("Cera Pro Bold"),
        local("CeraPro-Bold"),
        url(../fonts/CeraPro-Bold.woff2) format('woff2'),
        url(../fonts/CeraPro-Bold.woff) format('woff'),
        url(../fonts/CeraPro-Bold.ttf) format('TrueType'),
        url(../fonts/CeraPro-Bold.eot) format('eot');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Sans Serif Regular";
    src: local("Sans Serif Regular"),
        local("SansSerif-Regular"),
        url(../fonts/4388-font.woff2) format('woff2'),
        url(../fonts/4388-font.woff) format('woff'),
        url(../fonts/4388-font.ttf) format('TrueType'),
         
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    padding: 171px 110px 8px 135px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1440px;
    padding: 70px 120px;
}
.header{
    display: flex; 
    gap: 20px;
    margin-bottom: 140px;
}
.header_cont{
    display: flex;
    align-items: flex-end;
    background-color: #fbfbfb;
    max-height: 250px;
}
.imgheadcont{
    background: url(<path-to-image>) lightgray -5px 0px / 101.742% 100% no-repeat;
    mix-blend-mode: multiply;
}
.headertextbotton{
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 45px;
    
}
.headertitle{
    color: #3D3D3D;
    text-align: right;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px; /* 133.333% */
    text-transform: uppercase;
    margin-bottom: 10px;
}
.headerdescribe{
    color: #727272;
    text-align: right;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin-bottom: 25px;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1440px;
}
.img__maincont{
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    margin-bottom: 10px;
}
.main__Txt{
    text-align: center;
    margin-bottom: 40px;
}
.main__title{
    color: #3D3D3D;
    text-align: center;
    font-family: "Cera Pro Regular";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 53.333% */
    margin-bottom: 15px;
}
.main__describe{
    color: #727272;
    text-align: center;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin-bottom: 35px;
}
.mainItem{
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: space-between;
}
.maincard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fbfbfb;
}
.img__maincont{
    margin-bottom: 10px;
}
.mainspan{
    color: #46A358;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    margin-bottom: 5px;
}
.maincardtitle{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 130% */
    margin-bottom: 5px;
}
.maincarddesc{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    margin-bottom: 10px;
}
.main__link {
  text-decoration: none;
  font-family: "Cera Pro Regular", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #3d3d3d;
  display: flex;
  align-items: center;
  gap: 2px;
  transition: color 0.2s;
}
.main__link:hover {
  color: #46a358;
}
.main__link .main__link-arrow {
  transition: fill 0.2s;
  fill: currentColor;
}
