@font-face {
    font-family: 'Cera Pro';
    src: url(fonts/CeraPro-Medium.woff2) format('woff2'),
         url(fonts/CeraPro-Medium.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
.body {
    width: 500px;
    height: 656px;
}
.X {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    background: none
}
.nav-menu{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 80% */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 80% */
}
.text {
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}
.hero {
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    color: #A5A5A5;
    font-family: "Cera Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
}
.button{
    width: 300px;
    height: 45px;
    top: 387px;
    left: 100px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */
    border-radius: 5px;
    background: #46A358;
}
.register_with {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}
.Google {
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    background-color: #FFF;
    font-family: "Cera Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */

}

.Facebook {
    color: #727272;
    text-align: center;
    font-family: "Cera Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 123.077% */
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    background-color: #F5F5F5;
}

.colorfoot {
    width: 500px;
    height: 10px;
    flex-shrink: 0;
    background-color: #46A358;
}
